@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype-variations');
  /* Диапазон насыщенности (от Thin 100 до Black 900) */
  font-weight: 100 900;
  font-style: normal;
  /* Рекомендуется для шрифтов интерфейса */
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-VariableFont_wght.ttf') format('truetype-variations');
  /* Диапазон насыщенности (от Thin 100 до Black 900) */
  font-weight: 100 900;
  font-style: normal;
  /* Рекомендуется для шрифтов интерфейса */
  font-display: swap;
}
