.cookie {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--color-white);
  padding-block: 16px;
  background-color: var(--color-black);
  position: fixed;
  inset: auto 0 0;
  z-index: 1000;

  .wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  p {
    margin-right: auto;
  }

  &__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--color-black);
    padding: 8px 32px;
    background-color: var(--color-white);
    border-radius: 32px;

    &:hover,
    &:focus {
      background-color: #{'rgb(from var(--color-white) r g b / 0.8)'};
    }
  }
}

@media (max-width: $md) {
  .cookie {
    .wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }

    p {
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: $md) {
  .cookie {
    .wrapper {
      gap: 16px;
    }
  }
}
