@use '_global/breakpoints.scss' as *;

@import 'blocks/services.css';
@import 'blocks/about.css';
@import 'blocks/cases-slider.css';
@import 'blocks/steps.css';
@import 'blocks/stack.css';
@import 'blocks/contacts.css';
@import 'blocks/callback.css';

.section {
  border-bottom: none;
}
.contacts {
  padding-bottom: 0;

  &__wrapper {
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(255 255 255 / 0.1);
  }
}
