@import 'blocks/cases.css';
@import 'blocks/contacts.css';
@import 'blocks/callback.css';
.banner {
  height: -moz-max-content;
  height: max-content;
  padding-block: calc(100px + var(--header-height)) 100px;
}