.about {
  display: flex;
  justify-content: space-between;
  gap: clamp(120px, 13vw, 200px);
}
.about__content {
  max-width: 650px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 60px;
}
.about__desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  opacity: 0.9;
}
.about__team {
  max-width: 580px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: clamp(24px, 2vw, 32px);
}
.about__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__photo {
  width: 100%;
  aspect-ratio: 267/341;
  position: relative;
}
.about__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px;
}
.about__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-block: 24px 8px;
}
.about__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #d9d9d9;
}

html.light-theme .about__position {
  color: var(--color-text);
  opacity: 0.6;
}

@media (max-width: 991.5px) {
  .about {
    gap: clamp(36px, 7vw, 60px);
  }
  .about__content {
    max-width: 400px;
    flex-shrink: 0;
    gap: 32px;
  }
  .about__desc {
    font-size: 16px;
  }
  .about__team {
    max-width: 430px;
    gap: clamp(16px, 2vw, 24px);
  }
  .about__name {
    font-size: 18px;
    margin-block: 16px 4px;
  }
  .about__position {
    font-size: 14px;
  }
}
@media (max-width: 767.5px) {
  .about {
    flex-direction: column;
    gap: 40px;
  }
  .about__content {
    max-width: none;
    gap: 24px;
  }
  .about__team {
    margin-inline: auto;
  }
}