.cases {
  background: url("../../img/cases-bg.png") no-repeat bottom center/100% auto;
}
.cases__slider {
  margin-top: 130px;
  margin-inline: calc(-1 * var(--section-inline-padding));
  overflow: visible;
}
.cases__slider .swiper-slide {
  width: 756px;
  border-radius: 12px;
  overflow: hidden;
}
.cases__slider .swiper-slide-prev .cases__img::before,
.cases__slider .swiper-slide-next .cases__img::before {
  background: linear-gradient(to bottom, #4800cf, #6713ab, #5859d4);
}
.cases__img {
  padding: 5px;
  position: relative;
}
.cases__img img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 756/377;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
  border-radius: 12px;
}
.cases__img::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #bd0a9c, #f18533, #6713ab);
  border-radius: 12px;
  position: absolute;
  inset: 0;
  z-index: -1;
}

@media (max-width: 991.5px) {
  .cases {
    background-size: auto 80%;
  }
  .cases__slider {
    margin-top: 60px;
  }
  .cases__slider .swiper-slide {
    width: 500px;
  }
}
@media (max-width: 565.5px) {
  .cases__slider {
    margin-top: 32px;
  }
  .cases__slider .swiper-slide {
    width: 95vw;
  }
  .cases__img {
    padding: 3px;
  }
  .cases__img img {
    aspect-ratio: 4/3;
  }
}